@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8cfd0;
}

.bi-list {
    font-size: 40px;
    color: #697184;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
    display: none;
}

.menu-bar {
    display: none;
    position: fixed;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background-color: #b1a6a4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 3;
}

.hide {
    transition: 0.3s ease-in-out;
    opacity: 0;
    animation: 1s slideOutToLeft;
    overflow-y: auto;
}

.show {
    display: flex;
    animation: 1s slideInFromLeft;
    scroll-behavior: unset;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(120%);
    }

    70% {
        transform: translateX(95%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes slideOutToLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-20%);
    }
}

.bi-x {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 2.2rem;
}

.menu-bar ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu-bar ul li {
    padding: 15px 0;
    color: #413f3d;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.menu-bar ul li:hover {
    color: #f2f1ef;
}

header {
    width: 100%;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    font-size: 1.6rem;
    color: #413f3d;
    font-family: 'Black Han Sans', sans-serif;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: inline-flex;
}

nav ul li {
    padding: 30px 20px;
    color: #413f3d;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

nav ul li:hover {
    color: #f2f1ef;
}

nav ul span li {
    color: #f2f1ef;
    background-color: #697184;
}

nav ul span li:hover {
    background-color: #697184b6;
}

main {
    height: calc(100vh - 80px);
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

main h1 {
    font-size: 3.5rem;
    color: #413f3d;
    transition: 0.3s ease-in-out;
}

main h1 span {
    color: #b1a6a4;
}

.fadein {
    animation: 2s slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.aboutme p {
    margin: 20px 0;
    max-width: 600px;
    line-height: 1.6rem;
    color: #413f3d;
}

.aboutme p span {
    cursor: pointer;
    color: #697184;
}

.experience {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}


.experience .section-title {
    text-align: center;
}

.checklens {
    margin-right: 0;
    margin-left: auto;
}

.experience-card {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 900px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px;
    text-align: left;
    /* background-color: rgb(177, 166, 164); */
    border: 1px solid #b1a6a4;
    /* border: none; */
    border-radius: 20px;
    /* box-shadow: 0px 0px 20px 3px rgba(177, 166, 164, 0.75);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(177, 166, 164, 0.75);
    -moz-box-shadow: 0px 0px 20px 3px rgba(177, 166, 164, 0.75); */
}

.no-job {
    margin-right: auto;
    margin-left: 0;
    flex-direction: row;
}

.experience-card img {
    width: 150px;
    border-radius: 15px;
    margin-left: 20px;
}

.experience-card.no-job img {
    margin-left: 0;
    margin-right: 20px;
}

.experience-card h2 {
    color: #413f3d;
    font-weight: 400;
    margin: 10px 0;
}

.experience-card p {
    color: #697184;
}

.experience-card p span {
    color: #413f3d;
}

section {
    width: 80%;
    margin: 100px auto;
    transition: 0.3s ease-in-out;
}

.section-title {
    font-size: 2rem;
    color: #413f3d;
    font-weight: 400;
    margin: 20px 0;
}

.wrapper {
    width: 95%;
    margin: 50px auto;
    overflow: scroll;
    overflow-y: hidden;
    height: 250px;
}

.github-div {
    display: inline-flex;
    /* flex-wrap: wrap; */
}

.github-card {
    width: 200px;
    height: 200px;
    margin-bottom: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: center;
    cursor: pointer;
}

.github-card-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.github-card h2 {
    font-weight: 500;
    font-size: 0.875rem;
    color: #413f3d;
}

.contact p {
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    color: #413f3d;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.top-form {
    display: flex;
}

.left-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.left-form input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #413f3d;
    height: 30px;
    color: #413f3d;
    transition: 0.3s ease-in-out;
    margin: 10px 0;
    font-size: 1rem;
}

.left-form input:focus {
    outline: none;
    border-bottom: 2px solid #f2f1ef;
}

.contact-form button {
    height: 40px;
    background-color: #413f3d;
    color: #d8cfd0;
    cursor: pointer;
    margin-top: 10px;
    width: 300px;
    transition: 0.4s ease-in-out;
    border: none;
}

.contact-form button:hover {
    background-color: #b1a6a4;
}

.right-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}

.right-form textarea {
    padding: 10px 5px;
    background-color: transparent;
    color: #413f3d;
    transition: 0.3s ease-in-out;
}

.right-form textarea:focus {
    outline: none;
    border: 1px solid #f2f1ef;
}

footer {
    z-index: 2;
    background-color: #413f3d;
}

.top-footer {
    display: flex;
    justify-content: space-between;
}

footer .top-footer .left-footer h1 {
    font-family: 'Black Han Sans', sans-serif;
    color: #f2f1ef;
    font-weight: 400;
}

.icon-image {
    width: 25px;
    filter: invert(90%);
    margin-right: 5px;
}

.right-footer ul li {
    list-style: none;
    color: #d8cfd0;
    padding: 10px 250px 10px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.right-footer ul li:hover {
    color: #f2f1ef;
}

.top-footer,
.bottom-footer {
    width: 90%;
    margin: auto;
    padding: 30px;
}

.bottom-footer {
    color: #f2f1ef;
}

#scroll-top {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #697184;
    color: #f2f1ef;
    font-size: 3.5rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 0px solid #413f3d;
}

#scroll-top:hover {
    background-color: #b1a6a4;
}

.hide {
    display: none !important;
}

::-webkit-scrollbar {
    height: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #413f3d;
}

@media screen and (max-width: 1400px) {
    main h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1100px) {
    main h1 {
        font-size: 2.8rem;
    }

    section {
        width: 90%;
    }

    .experience {
        width: 85%;
    }

    .experience-card {
        width: 100%;
    }

    .right-footer ul li {
        padding: 10px 150px 10px 0;
    }
}

@media screen and (max-width: 800px) {
    .bi-list {
        display: block;
    }

    nav {
        width: 100%;
    }

    nav p {
        padding: 20px;
    }

    nav ul {
        display: none;
    }

    main h1 {
        font-size: 2rem;
    }

    section {
        width: 95%;
    }

    .experience {
        width: 95%;
    }

    .wrapper {
        width: 100%;
    }

    .top-form {
        flex-direction: column;
    }

    .top-footer {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 0;
    }

    .top-footer ul {
        padding: 0;
        margin-bottom: 20px;
    }

    .top-footer ul li {
        padding: 10px;
        text-align: center;
    }

    .links {
        display: flex;
        justify-content: center;
    }

    .bottom-footer {
        text-align: center;
    }

    .contact-form {
        margin-bottom: 0;
    }

    .top-form {
        width: 100%;
    }

    .left-form,
    .right-form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main h1 {
        font-size: 1.4rem;
    }

    .section-title {
        font-size: 1.6rem;
        text-align: center;
    }

    .aboutme p {
        font-size: 0.875rem;
    }

    .experience-card {
        flex-direction: column;
        text-align: center;
    }

    .github-card {
        width: 140px;
        height: 140px;
    }

    .wrapper {
        margin-bottom: 0;
        height: 200px;
    }
}